---
# Install pip
- name: Install pip3
  become: true
  apt:
    name: python3-pip
    state: present
    
# Install kubernetes Python library
- name: Install kubernetes Python library
  become: true
  pip:
    name: kubernetes
    state: present
    extra_args: --break-system-packages
    
# Ensure the monitoring namespace exists
- name: Create monitoring namespace
  kubernetes.core.k8s:
    name: "{{ monitoring.namespace }}"
    api_version: v1
    kind: Namespace
    state: present
    kubeconfig: "{{ k8s_kubeconfig }}"

# Add the official Prometheus Helm repository
- name: Add Prometheus community helm repo
  kubernetes.core.helm_repository:
    name: "prometheus-community"
    repo_url: "{{ monitoring.prometheus_stack_repo }}"

# Update Helm repositories
- name: Update Helm repos
  kubernetes.core.helm_repository:
    name: "prometheus-community"
    repo_url: "{{ monitoring.prometheus_stack_repo }}"
    force_update: true

# Deploy the stack
- name: Deploy Kube-Prometheus-Stack via Helm
  kubernetes.core.helm:
    name: "{{ monitoring.release_name }}"
    chart_ref: "prometheus-community/{{ monitoring.prometheus_stack_chart }}"
    release_namespace: "{{ monitoring.namespace }}"
    create_namespace: true
    # We disable Traefik as per your manual setup
    values:
      grafana:
        adminPassword: "{{ monitoring.grafana_admin_password }}"