---
- name: Wait for K3s API to be ready
  uri:
    url: https://127.0.0.1:6443/readyz
    validate_certs: no
    status_code: [200, 401]
  register: api_health
  until: api_health.status in [200, 401]
  retries: 30
  delay: 5

- name: Download Calico operator manifest
  get_url:
    url: https://raw.githubusercontent.com/projectcalico/calico/v3.29.1/manifests/tigera-operator.yaml
    dest: /tmp/tigera-operator.yaml
    mode: '0644'

- name: Apply Calico operator
  become: true
  shell: kubectl apply -f /tmp/tigera-operator.yaml --server-side --force-conflicts
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  register: calico_operator
  # 'serverside-applied' ifadesini de kontrol listesine ekledik
  changed_when: 
    - "'created' in calico_operator.stdout or 'configured' in calico_operator.stdout or 'serverside-applied' in calico_operator.stdout"

- name: Create Calico installation manifest
  copy:
    dest: /tmp/calico-installation.yaml
    content: |
      apiVersion: operator.tigera.io/v1
      kind: Installation
      metadata:
        name: default
      spec:
        calicoNetwork:
          ipPools:
          - blockSize: 26
            cidr: 10.42.0.0/16
            encapsulation: VXLANCrossSubnet
            natOutgoing: Enabled
            nodeSelector: all()
      ---
      apiVersion: operator.tigera.io/v1
      kind: APIServer
      metadata:
        name: default
      spec: {}

- name: Apply Calico installation
  become: true
  shell: kubectl apply -f /tmp/calico-installation.yaml
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  register: calico_install
  changed_when: "'created' in calico_install.stdout or 'configured' in calico_install.stdout"

- name: Wait for Calico to be ready
  become: true
  shell: kubectl wait --for=condition=Ready pods --all -n calico-system --timeout=300s
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  register: calico_ready
  retries: 3
  delay: 30
