---
- name: Base configuration for all nodes
  hosts: all
  roles:
    - common

- name: Security and Firewall configuration
  hosts: cluster_nodes
  roles:
    - security

- name: Initialize K3s Master
  hosts: master
  roles:
    - k3s_master

- name: Install Calico CNI
  hosts: master
  roles:
    - calico

- name: Install MetalLB
  hosts: master
  roles:
    - metallb

- name: Join K3s Workers
  hosts: workers
  roles:
    - k3s_worker
